
body{
    height: 100%;
    margin: auto;
    padding: auto;

}


.blue-bg{
    min-height: 100vh;
    background: #1e40ff;
    padding:40px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 28px;
    margin: 0; .
    padding: 0;
}
.menu li a{
 text-decoration: none;
color: white;
 font-size: 16px;
padding: 15px;
font-weight: 500;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
text-transform: capitalize;

    
}
.logo{
 font-size: 1rem;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
}




/* this is tv box  section*/

.tv-box{
    background:#f8fafc;
    border-radius: 7px;
    width: 70%;
    max-width: 1000px;
    height: 430px;
    margin:50px auto;
    border: 4px solid #f8fafc ;
    padding: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);


    


}

.card{
    display: flex;
   align-items: center;
    gap: 30px;
    column-gap: 60px;
    position: relative;
    margin: auto;

}


.hero-image img {
    display: flex;
    width: 350px;
    height: 350px ;
    overflow: hidden;
    border-radius: 60%;
    object-fit: cover;
    align-items: center;
    border: 3px solid #2563eb;
    box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.2) 
    0 0 0 8px rgba(37, 99, 235, 0.15) ;

align-items: center;
justify-content: center;
    

}


img{
    width:100% ;
    height: 100%;
    object-fit: cover;
}

.hero image img:hover{

    transform: scale(1.03);
    transition: 0.3s ease;
}

@media (max-width:768px) {
    .hero-image img{
        width: 150px;
        height: 150px;
    }
    
}


.right{
    display: grid;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 450px;
    margin-top: 10px;



}


.intro{
    word-spacing: 5PX;
    color: #6b7280;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
 .name{
    font-size: 2.2rem;
    font-weight: 900;
    color: #0f172a;
    margin-bottom: 8px;
}
.name span{
    color: #1e40af;
    margin-bottom: 8px;

}

.info-line{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

.info{
    color: #374151; 
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom:4px;
    letter-spacing: 2px;

}
.line{
    width: 40px;
    height: 1px;
    background: #000000;
    margin-top: 13px;
}



.roles{
    font-size: 1.8rem;
    font-weight: 900;
    color: #1e40af;
    margin-bottom: 4px;
}


.des{
    font-size: 1.1rem;
    line-height: 1.6;
    color: #374151;

}
  /*comment for contact*/


.contact-box{
    display: flex;
    gap: 15px;
    padding: 17px;
    
    

}

.contact-btn{
    flex: 1;
    text-align: center;
    justify-content: center;
    gap: 8px;
    align-items: center;
    padding: 18px 15px ;
    background: #0f172a;
    text-decoration: none;
    border-radius: 12px;
    font-weight: 600px;
    color: white;

}
.contact-btn i{
    font-size: 18px;
    margin-right: 8PX;

}







    

  



  

  
    